body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('slide3.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    backdrop-filter: blur(2px);
}
#clock {
    font-size: 72px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}