body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 100px;
    justify-content: center;
    align-items: center;
  
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 600px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 0 0 10px;
}
.card-content p {
    margin: 0;
    color: #555;
}
@view-transition {
    navigation: auto;
}

@keyframes move-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

::view-transition-old {
    animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-in;
}